<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Dashboard | <%= title %></title>
  <meta name="_csrf" content="#{csrfToken}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <%- include ("../../common/css") %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
<%- include ("../../common/top_nav") %>
<%- include ("../../common/sidebar") %>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Home Slider</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <div class="card">
              <div class="card-header">
                <h3 class="card-title float-right"><button type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-default">
                  Add Home Slider
                </button></h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="products_tbl" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% if (homeslider.length > 0) { %>
                    <% homeslider.forEach((list, index) => { %>
                    <tr>
                      <td><%= index+1 %></td>
                      <td><%= list.slider_name %></td>
                      <td><img height="100" src="admin/slider/<%= list.images %>" ></td>
                      <td><% if(list.status==1){ %>Active<% } else{ %>Inactive<% } %></td>
                      <td>
                        <a class="edit_slider btn btn-info btn-sm" data-id="<%= list.id %>" data-slider_name="<%= list.slider_name %>" data-descriptions="<%= list.descriptions %>" data-link="<%= list.link %>" data-status="<%= list.status %>" images="<%= list.images %>" data-target="#myModaledit" data-toggle="modal"><i class="fas fa-pencil-alt"></i>Edit</a>
                      <a class="delete_category btn btn-danger btn-sm" id="<%= list.id %>"><i class="fas fa-trash"></i>Delete</a></td>
                    </tr>
                    <% }) %>
                    <% } else {%>
                    <tr class="col text-danger mt-5 text-center"><td colspan="5">Record not found.</td> </tr><% } %>
                
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Image</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
        </div>

<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Home Slider</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/addslider" method="post" enctype="multipart/form-data">
                <div class="modal-body">
                    <div class="form-group">
                        <div class="col-sm-12">
                            <label class="control-label label-margin">Title</label>
                            <input type="text" class="form-control" id="title" placeholder="Name" name="slider_name" required />
                        </div>
                          <div class="col-sm-12">
                          <label class="control-label label-margin">Descriptions</label>
                          <textarea name="descriptions" id="description" class="form-control"></textarea>
                          </div>
                      <div class="col-sm-12">
                        <label class="control-label label-margin">Link</label>
                        <input type="text" class="form-control" id="link" placeholder="link" name="link" />
                      </div>
                        <div class="col-sm-12">
                            <label class="control-label label-margin">Image</label>
                            <input type="file" class="form-control" id="slider_image" placeholder="Image" name="slider_image" accept="image/png, image/jpeg" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <select class="form-control" name="cat_status" required>
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>
                <div class="modal-footer justify-content-between">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<div class="modal fade" id="myModaledit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
            <div class="modal-header">
              <h4 class="modal-title">Edit Slider</h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <!--end modal-header-->
            <form action="/updateslider" method="post" enctype="multipart/form-data">
                <input type="hidden" id="edit_id" name="edit_id" value="" />
                <div class="modal-body">
                    <div class="example-box-wrapper">
                        <div class="form-group">
                            <div class="col">
                                <label class="control-label label-margin">Title</label>
                                <input type="text" class="form-control" id="edit_title" placeholder="Name" name="edit_slider_name" required />
                            </div>
                            <div class="col-sm-12">
                              <label class="control-label label-margin">Descriptions</label>
                              <textarea name="edit_descriptions" id="edit_descriptions" class="form-control"></textarea>
                              </div>
                          <div class="col-sm-12">
                            <label class="control-label label-margin">Link</label>
                            <input type="text" class="form-control" id="edit_link" placeholder="link" name="edit_link" />
                          </div>
                          
                          <div class="col-sm-12">
                            <label class="control-label label-margin">Images</label>
                            <input type="file" class="form-control" id="edit_images" placeholder="Image" name="edit_images" accept="image/png, image/jpeg"/>
                          </div>

                        </div>

                        <div class="form-group">
                            <div class="col">
                                <label class="control-label label-margin">Status</label>
                                <select class="form-control" id="edit_status" name="edit_status" required>
                                    <option value="1">Active</option>
                                    <option value="0">Inactive</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

        </div>
      </div>
    </section>
  </div>
<%- include ("../../common/footer") %>
</div>
<%- include ("../../common/js") %>
<script type="text/javascript">
$(function() { 
  "use strict";  
  $("#products_tbl").DataTable({
        "responsive": true,
        "autoWidth": false,
  });

  $('#products_tbl').on('click','.edit_slider',function(){
    var edit_id         = $(this).data('id');
    var slider_name     = $(this).data('slider_name');
    var descriptions    = $(this).data('descriptions');
    var edit_link       = $(this).data('link');
    var images          = $(this).data('images');
    var status          = $(this).data('status');
    
    $('#myModaledit').modal('show');
    $('#edit_id').val(edit_id);
    $("#edit_title").val(slider_name);
    $('#edit_descriptions').val(descriptions);
    $('#edit_link').val(edit_link);
    $('#edit_images').val(images);
    $('#edit_status').val(status);
  });

});  
</script>
</body>
</html>