<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Books Store | <%= title %></title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
  <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
  <%- include ("../../common/css") %>
</head>
<body class="hold-transition sidebar-mini layout-fixed">
<div class="wrapper">
<%- include ("../../common/top_nav") %>
<%- include ("../../common/sidebar") %>
  <div class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">Dashboard</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Home</a></li>
              <li class="breadcrumb-item active">Vendor</li>
            </ol>
          </div>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="container">
            <div class="card">
              
              <% if(message.length > 0) {%>
                <div class="alert alert-success alert-dismissible show" role="alert">
                   <%= message %> 
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <% } %>
                <% if(errors.length > 0) {%>
                  <div class="alert alert-danger alert-dismissible show" role="alert">
                     <%= errors %> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                <% } %>
                
              <!-- /.card-header -->
              <div class="card-body">
                <table id="products_tbl" class="table table-bordered table-striped">
                  <thead>
                  <tr>
                    <th>#</th>
                    <th>Company Name</th>
                    <th>Company Email</th>
                    <th>Company Mobile</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </thead>
                  <tbody>
                    <% if (vendorlist.length > 0) { %>
                      <% vendorlist.forEach((list, index) => { %>
                  <tr>
                    <td><%= index+1 %></td>
                    <td><%= list.name %></td>
                    <td><%= list.email %></td>
                    <td><%= list.mobile %></td>
                    <td><% if(list.status==0){ %><span class="text-success">Active</span><% } else { %><span class="text-danger">Inactive</span><% } %></td>
                    <td>
                      <a class="edit_vendor btn btn-info btn-sm" data-id="<%= list.userId %>" data-type="<%= list.type %>" data-status="<%= list.status %>" data-company_mail="<%= list.company_mail %>" data-company_name="<%= list.company_name %>" data-company_phone="<%= list.company_phone %>" data-company_contact_person="<%= list.company_contact_person %>" data-company_contact_phone_no="<%= list.company_contact_phone_no %>" data-company_gst="<%= list.company_gst %>" data-target="#myModaledit" data-toggle="modal"><i class="fas fa-pencil-alt"></i>Edit</a>
                      <a class="delete_vendor btn btn-danger btn-sm" id="<%= list.userId %>"><i class="fas fa-trash"></i>Delete</a></td>
                  </tr>
                  <% }) %>
                  <% } else { %>
                    <tr><td colspan="6" style="text-align:center">no vendor found</td></tr>
                    <% } %>
                  </tbody>
                  <tfoot>
                  <tr>
                    <th>#</th>
                    <th>Company Name</th>
                    <th>Company Email</th>
                    <th>Company Mobile</th>
                    <th>Status</th>
                    <th>Action</th>
                  </tr>
                  </tfoot>
                </table>
              </div>
            </div>
        </div>

<div class="modal fade" id="myModaledit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated bounceInRight">
          <div class="modal-header">
            <h4 class="modal-title">Edit Vendor</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <!--end modal-header-->
            <form action="/updatevendor" method="post">
              
                <input type="hidden" id="edit_id" name="edit_id" value="">
                <div class="modal-body">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label label-margin">Company mail</label>
                        <input type="email" class="form-control" id="edit_company_mail" placeholder="company mail" name="edit_company_mail">  
                      </div>
                      <div class="col-md-6">
                        <label class="control-label label-margin">Company name</label>
                        <input type="text" class="form-control" id="edit_company_name" placeholder="company name" name="edit_company_name" required>  
                      </div>
                    </div>


                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label label-margin">Company phone</label>
                        <input type="number" class="form-control" id="edit_company_phone" placeholder="company phone" name="edit_company_phone" required maxlength="10">
                      </div>
                      <div class="col-md-6">
                        <label class="control-label label-margin">Company contact person</label>
                        <input type="text" class="form-control" id="edit_company_contact_person" placeholder="company contact person" name="edit_company_contact_person" required>  
                      </div>
                    </div>

                    <div class="row">
                      <div class="col-md-6">
                        <label class="control-label label-margin">Company contact phone no</label>
                        <input type="text" class="form-control" id="edit_company_contact_phone_no" placeholder="company contact phone no" name="edit_company_contact_phone_no" required>  
                      </div>
                      <div class="col-md-6">
                        <label class="control-label label-margin">Company gst</label>
                        <input type="text" class="form-control" id="edit_company_gst" placeholder="company gst" name="edit_company_gst" required>  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-12">
                          <label class="control-label label-margin">Status</label>
                          <select class="form-control" name="edit_status" id="edit_status"required>
                              <option value="0">Active</option>
                              <option value="1">Inactive</option>
                          </select>
                      </div>
                  </div>
                    
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>

            </form>
        </div>
    </div>
</div>
        </div>
      </div>
    </section>
  </div>
<%- include ("../../common/footer") %>
</div>
<%- include ("../../common/js") %>
<script type="text/javascript">
$(function() { 
  "use strict";  
  $("#example1").DataTable({
        "responsive": true,
        "autoWidth": false,
  });
});  
</script>
</body>
</html>