<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Books Store | Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="/plugins/css/invoice.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap" rel="stylesheet">

    <%- include ("../../common/css") %>
        <style>
            .summary {
                border: 1px solid #ccc;
                border-radius: 5px;
                padding: 10px;
                margin-bottom: 20px;
            }

            .summary-item {
                margin-bottom: 5px;
            }

            .summary-item strong {
                font-weight: bold;
                color: #333;
            }

            .amount {
                color: #007bff;
                /* Blue color for the amount */
                font-weight: bold;
            }

            body {
                font-family: 'Roboto Mono', monospace;
            }

            .invoice-container {
                width: 83%;
                margin: 1px 257px;
            }

            .invoice-header {
                text-align: right;
            }

            .invoice-header h2 {
                margin: 0;
            }

            .invoice-header p {
                margin: 5px 0;
            }

            .invoice-details {
                display: flex;
                justify-content: space-between;
                margin-bottom: 20px;
            }

            .invoice-details div {
                width: 48%;
            }

            .invoice-details .from {
                text-align: left;
            }

            .invoice-details .to {
                text-align: right;
            }

            .invoice-details p {
                margin: 5px 0;
            }

            .payment-details {
                text-align: right;
                margin-bottom: 20px;
            }

            .order-details table {
                width: 100%;
                border-collapse: collapse;
            }

            .order-details th,
            .order-details td {
                border: 1px solid #000;
                padding: 8px;
                text-align: center;
            }

            .order-details th {
                background-color: #f2f2f2;
            }

            .thank-you {
                text-align: center;
                margin-top: 20px;
            }

            img {
                vertical-align: middle;
                border-style: none;
                float: inline-start;
                background: rgb(0, 30, 255);
            }

            .logo {
                display: block;
                max-width: 200px;
                height: auto;
                border-radius: 12px;
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
                transition: transform 0.3s ease, box-shadow 0.3s ease;
            }

            .logo:hover {
                transform: scale(1.05);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
        </style>
</head>

<body class="hold-transition sidebar-mini layout-fixed">

    <div class="wrapper">
        <%- include ("../../common/top_nav") %>
            <%- include ("../../common/sidebar") %>

                <div class="invoice-container" id="printableArea">
                    <div class="invoice-header">
                        <img src="/assets/images/logo.png" alt="Sritez Logo" class="logo">
                        <h2>Tax Invoice</h2>
                        <p>Invoice Number: <strong>#<%= orderId %></strong></p>
                        <p>Invoice Date: <strong>
                                <%= moment(created_at).format('lll') %>
                            </strong></p>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="invoice-details">
                        <div class="from">

                            <p class="lead"><strong>Sold By:</strong></p>
                            <p>Sriina Internet Private Ltd</p>
                            <p>RZ-126, INDRA PARK UTTAM NAGAR</p>
                            <p>NEW DELHI, SOUTH WEST DELHI DL, 110059</p>
                            <p>IN</p>
                            <p><strong>PAN No:</strong> ABHCS6030P</p>
                            <p><strong>CIN:</strong>U74999DL2021PTC391791</p>
                        </div>
                        <div class="to">
                            <p class="lead"><strong>Billing Address:</strong></p>
                            <% if(get_shipping_address) { %>
                                <p>
                                    <%= get_shipping_address.fullname %>
                                </p>
                                <p>
                                    <%= get_shipping_address.house_address %>, <%= get_shipping_address.landmark %>
                                            <%= get_shipping_address.colony_area %>
                                </p>

                                <p>
                                    <%= get_shipping_address.city_town %>, <%= get_shipping_address.pincode %>
                                </p>
                                <p>Phone: <%= get_shipping_address.mobile %>
                                </p>
                                <% } %>
                        </div>
                    </div>

                    <hr />

                    <div class="payment-details">
                        <p class="lead"><strong>Payment details</strong></p>
                        <p style="margin: 5px;">Date: <%= moment(created_at).format('lll') %>
                        </p>
                        <p style="margin: 5px;">Total Amount: ₹ <%= paid_amount %>
                        </p>
                        <p style="margin: 5px;">Payment Status: <%=result%>
                        </p>
                        <p style="margin: 5px;">Email: <%= getEmail.email %>
                        </p>
                        <p style="margin: 5px;">Estimated time of delivery: within 7 Days</p>
                    </div>

                    <div class="order-details">
                        <h3>Order Details</h3>
                        <table>
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>ISBN</th>
                                    <th>Description</th>
                                    <th>Qty</th>
                                    <th>Unit Price</th>
                                    <th>Discount</th>
                                    <th>Net Amount</th>
                                    <th class="action-column">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% var total=0; var discount=0; var sub_total=0; %>
                                    <% if (get_orders.length> 0) { %>
                                        <% get_orders.forEach((list, index)=> {
                                            var newTotal = (list.price) * (list.cartquantity);
                                            let afterdiscount = newTotal - (newTotal / 100) * list.discount;
                                            total += afterdiscount;
                                            discount += (newTotal - afterdiscount);
                                            sub_total += newTotal;
                                            %>
                                            <tr id="invoice-print-<%= index %>">
                                                <td class="text-center">
                                                    <%= index + 1 %>
                                                </td>
                                                <td>
                                                    <%= list.isbn13 %>
                                                </td>
                                                <td>
                                                    <%= list.name %>
                                                </td>
                                                <td class="text-right">
                                                    <%= list.cartquantity %>
                                                </td>
                                                <td class="text-right">₹ <%= list.price ?
                                                        parseFloat(list.price).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"
                                                        ) : '' %>
                                                </td>
                                                <td class="text-right">₹ <%= (newTotal -
                                                        afterdiscount).toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"
                                                        ) %>
                                                </td>
                                                <td class="text-right">₹ <%=
                                                        afterdiscount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"
                                                        ) %>
                                                </td>
                                                <td class="text-right action-column">
                                                    <button class="btn btn-success"
                                                        onclick="printSingle('printableArea', 'invoice-print-<%= index %>')">
                                                        <i class="fa fa-print"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                            <% }) %>
                                                <% } else { %>
                                                    <tr>
                                                        <td class="text-center" colspan="7">No record found</td>
                                                    </tr>
                                                    <% } %>
                                                        <tr>
                                                            <!-- <td colspan="3"></td> -->
                                                            <td class="text-right" colspan="1"></td>
                                                            <td class="text-right" colspan="1"></td>
                                                            <td class="text-right" colspan="1"></td>
                                                            <td class="text-right" colspan="1"></td>
                                                            <td class="text-right" colspan="1">Subtotal: ₹<%=
                                                                    sub_total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"
                                                                    ) %>
                                                            </td>
                                                            <td class="text-right" colspan="1">Discount: ₹<%=
                                                                    discount.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"
                                                                    ) %>
                                                            </td>
                                                            <td class="text-right" colspan="1">Total: ₹<%=
                                                                    total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,"
                                                                    ) %>
                                                            </td>
                                                            <td class="text-right action-column" colspan="1"></td>
                                                        </tr>
                            </tbody>
                        </table>
                    </div>

                    <div class="thank-you">
                        <p>Thank you for your purchase!</p>
                        <button class="btn btn-success" id="invoice-print" onclick="printDiv('printableArea')"><i
                                class="fa fa-print"></i>
                            Print
                            Invoice</button>
                        <button class="btn btn-danger" id="mail-invoice"><i class="fa fa-envelope-o"></i> Mail
                            Invoice</button>
                    </div>

                </div>
                <%- include ("../../common/footer") %>
    </div>
    <%- include ("../../common/js") %>
        <script type="text/javascript">
            $(function () {
                "use strict";
                $("#products_tbl").DataTable({
                    "responsive": true,
                    "autoWidth": false,
                });

                $('.textarea').summernote();

            });
            function printDiv(divName) {
                var printContents = document.getElementById(divName).innerHTML;
                var originalContents = document.body.innerHTML;
                document.body.innerHTML = printContents;
                document.getElementById('invoice-print').style.display = "none";
                document.getElementById('mail-invoice').style.display = "none";
                var actionColumns = document.querySelectorAll('.action-column');
                for (var i = 0; i < actionColumns.length; i += 1) {
                    actionColumns[i].style.display = 'none';
                }
                window.print();
                document.body.innerHTML = originalContents;
            }

            function printSingle(divName, downloadBookId) {
                var printContents = document.getElementById(divName).innerHTML;
                var originalContents = document.body.innerHTML;
                document.body.innerHTML = printContents;
                document.getElementById('invoice-print').style.display = "none";
                document.getElementById('mail-invoice').style.display = "none";
                // document.getElementById('order-summary').style.display = "none";
                var elems = document.querySelectorAll('table > tbody > tr');
                for (var i = 0; i < elems.length; i += 1) {
                    console.log(elems[i].id)
                    if (elems[i].id != downloadBookId)
                        elems[i].style.display = 'none';
                }
                // Hide the 'action' column
                var actionColumns = document.querySelectorAll('.action-column');
                for (var i = 0; i < actionColumns.length; i += 1) {
                    actionColumns[i].style.display = 'none';
                }
                window.print();
                document.body.innerHTML = originalContents;
            }
        </script>
</body>

</html>