<div class="owl-carousel home-owl-carousel custom-carousel owl-theme outer-top-xs">
    <% if (random_product.length> 0) {%>
        <% random_product.forEach((list, index)=> { %>
            <% var new_price=(list.price)-(list.price/100)*list.discount; %>
                <div class="item item-carousel">
                    <div class="products">
                        <div class="product">
                            <div class="product-image">
                                <% if(list.image) {%>
                                    <div class="img-wrap">
                                        <% if(/(http(s?)):\/\//i.test(list.image)) {%>
                                            <a href="<%= list.slug %>/<%= list.id %>"><img src="<%= list.image %>"
                                                    alt="<%= list.name %>"></a>
                                            <% } else { %>
                                                <a href="<%= list.slug %>/<%= list.id %>"><img
                                                        src="<%= process.env.IMAGE_URL %><%= list.image %>"
                                                        alt="<%= list.name %>"></a>
                                                <% } %>
                                    </div>
                                    <% } else {%>
                                        <div class="img-wrap">
                                            <a href="<%= list.slug %>/<%= list.id %>"><img
                                                    src="<%= process.env.IMAGE_URL %>404.jpg" alt=""></a>
                                        </div>
                                        <% } %>
                            </div>
                            <div class="product-info text-left">
                                <div style="min-height:110px;">
                                    <h3 class="name"><a href="<%= list.slug %>/<%= list.id %>">
                                            <%= list.name.substring(0, 60) %>
                                        </a></h3>
                                    <% if (list.author) {%>
                                        <div>By: <%= list.author.substring(0,28) %>
                                        </div>
                                        <% } %>
                                            <div class="rating rateit-small"></div>
                                            <div class="description"></div>
                                            <div class="product-price">
                                                <span class="price"> ₹<%=
                                                        new_price.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1," )
                                                        %> </span> <span class="price-before-discount">₹ <%=
                                                        (list.price) %></span> <span>
                                                    <%= list.discount %>% off
                                                </span>
                                            </div>
                                </div>
                                <% if( maxplan[0].MaxPlanPrice>= list.price ) { %>
                                    <div class="on_rent"><a href="membership?productId=<%= list.id %>">On Rent</a></div>
                                    <% } %>

                                        <div class="add_cart">
                                            <a class="add-cart" href="<%= list.slug %>/<%= list.id %>"><i
                                                    class="fa fa-shopping-cart"></i> Buy Now </a>

                                            <!--<a class="add-cart cart<%= index %>"><i class="fa fa-shopping-cart"></i> Add to cart</a>-->
                                        </div>

                                        <div class="clearfix"></div>
                            </div>

                        </div>
                    </div>
                </div>
                <% }) %>
                    <% } else { %>
                        <p class="text-center">No Book Found.</p>
                        <% } %>
</div>