<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<meta name="description" content="">
<meta name="author" content="">
<meta name="keywords" content="MediaCenter, Template, eCommerce">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon.png">
<meta name="robots" content="all">
<title>Sriina: <%= title %></title>
<link rel="stylesheet" href="assets/css/bootstrap.min.css">
<link rel="stylesheet" href="assets/css/main.css">
<link rel="stylesheet" href="assets/css/blue.css">
<link rel="stylesheet" href="assets/css/owl.carousel.css">
<link rel="stylesheet" href="assets/css/owl.transitions.css">
<link rel="stylesheet" href="assets/css/animate.min.css">
<link rel="stylesheet" href="assets/css/rateit.css">
<link rel="stylesheet" href="assets/css/bootstrap-select.min.css">
<link href="assets/css/lightbox.css" rel="stylesheet">
<link href="assets/css/custom.css" rel="stylesheet" />
<link rel="stylesheet" href="assets/css/font-awesome.css">
<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-184850763-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-184850763-1');
</script>
</head>
    <body class="cnt-home">
    <!-- ============================================== HEADER ============================================== -->
        <header class="header-style-1">
            <%- include("top_bar") -%>
            <%- include("search") -%>
            <%- include("navigation") -%>
        </header>
<!-- ============================================== HEADER : END ============================================== -->
<div class="breadcrumb">
  <div class="container">
    <div class="breadcrumb-inner">
      <ul class="list-inline list-unstyled">
        <li><a href="/">Home</a></li>
        <li><a href="security">Security</a></li>
      </ul>
    </div><!-- /.breadcrumb-inner -->
  </div><!-- /.container -->
</div><!-- /.breadcrumb -->
<div class="body-content outer-top-xs">
    <div class="container">
        <div class="row single-product">
            <div class="col-md-12">
                <div class="detail-block">
            <div class="row wow fadeInUp" style="padding: 18px;line-height: 25px;font-size: 14px;">
                       
                            <% if (getresult) { %>
                                <%= //getresult.description %>
<h4><strong>Security</strong></h4>
<p>Information about our users is an important part of our business, and we are not in the business of selling it to others. We share customer information only as described below and with the family of companies owned and controlled by Sriina.COM.com, Inc.</p>
<p><strong>1-Disclosure to Other Users:</strong> Depending on which payment service you use, you may need to disclose your e-mail address to other users so they can send payments to you. When you send payments, your name, and/or e-mail address may be disclosed to the intended recipient. Once a transaction is complete, this information will be displayed in the transaction list of the user receiving payment.</p>
<p><strong>2-Purchases:</strong> We do not disclose your financial information (such as credit card information) to any seller or other recipient of payments you make without your prior consent. When you make a purchase, we may make certain other personal information about you available to the recipient to complete the transaction (such as name, e-mail and shipping address), in the event of a dispute regarding the transaction, or as part of a fraud investigation. The use of information that we provide to a recipient will be governed by the agreements or policies of that recipient.</p>
<p><strong>3-Third-party Service Providers:</strong> We employ financial institutions, other companies and individuals to perform functions on our behalf and transactions that you request or authorize. Examples include sending postal mail and e-mail, analyzing data, providing marketing assistance, processing payment transactions, verifying identity, fraud screening and providing customer service. They have access to personal information needed to perform their functions, but may not use it for other purposes.</p>
<p><strong>4-Promotional Offers: </strong>Sometimes we send offers to selected groups customers on behalf of other businesses. When we do this, we do not give that business your name and address. If you do not want to receive such offers, please adjust your customer communication preferences under Your Account on the Sriina.COM.com.</p>
<p><strong>5-Business Transfers: </strong>As we continue to develop our business, we might sell or buy businesses, subsidiaries, or business units. In such transactions, user (or other customer) information generally is one of the transferred business assets but remains subject to the promises made in any pre-existing privacy notice (unless, of course, you consent otherwise). Also, in the event that Sriina.COM Payments or substantially all of its assets are acquired, user information will of course be one of the transferred assets.</p>
<p><strong>6-Protection of Sriina.COM Payments and Others:</strong> We release account and other personal information when we believe release is appropriate to comply with the law; enforce or apply our User Agreement and other agreements or policies; or protect the rights, property, or safety of our business, our users, or others. This includes exchanging information with other companies and organizations for fraud protection and credit risk reduction as well as sharing information with our attorneys, auditors and other representatives. However, this does not include selling, renting, sharing, or otherwise disclosing personally identifiable information from customers for commercial purposes in violation of the commitments set forth in this Privacy Notice.</p>
<p><strong>7-With Your Consent:</strong> Other than as set out above, you will receive notice when information about you might go to third parties, and you will have an opportunity to choose not to share the information.<p>
 <h4><strong>How Secure Is Information About Me?</strong></h4>
<p><strong>1-</strong> We work to protect the security of personal information you provide to our websites during transmission by using Secure Sockets Layer (SSL) software, which encrypts information you input. We restrict access to your personally identifiable information to employees who need to know that information in order to provide products or services to you. We maintain physical, electronic and procedural safeguards to guard your nonpublic personal information.</p>
<p><strong>2-</strong> It is important for you to take steps to protect against unauthorized access to your account. You should keep confidential your password, security questions, and any other credentials used to access your account (your “Credentials”). The security of your Sriina.COM Payments Account relies on your protection of your Credentials. DO NOT SHARE YOUR CREDENTIALS. If you do share your Credentials with a third party for any reason, the third party may have access to your account and your personal information, and you may be responsible for actions taken using your Credentials. If you believe someone else has obtained access to your Credentials, please change them immediately by logging in to your account and changing your Profile settings, and also contact us right away.</p>
                           
                            <% } else { %>
                                <p class="text-center">Page data not found.</p>
                            <% } %>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
  </div>
</div>

<%- include ("../front/book_footer") %>
<script src="assets/js/jquery-1.11.1.min.js"></script>  
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
<script src="assets/js/owl.carousel.min.js"></script>
<script src="assets/js/echo.min.js"></script>
<script src="assets/js/jquery.easing-1.3.min.js"></script>
<script src="assets/js/bootstrap-slider.min.js"></script>
<script src="assets/js/jquery.rateit.min.js"></script>
<script type="text/javascript" src="assets/js/lightbox.min.js"></script>
<script src="assets/js/bootstrap-select.min.js"></script>
<script src="assets/js/wow.min.js"></script>
<script src="assets/js/scripts.js"></script>
</body>
</html>