<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
        <meta name="robots" content="INDEX,FOLLOW"/>
        <title>Sriina | Checkout</title>
        <link rel="stylesheet" href="<%= baseURL %>assets/css/bootstrap.min.css" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/main.css" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/blue.css" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/owl.carousel.css" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/owl.transitions.css" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/animate.min.css" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/rateit.css" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/bootstrap-select.min.css" />
        <link href="<%= baseURL %>assets/css/custom.css" rel="stylesheet" />
        <link rel="stylesheet" href="<%= baseURL %>assets/css/font-awesome.css" />
        <link href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
        <style>
            input#captchaText {
                width: 100px;
            }
            .css_billing {
                border: 1px solid #ccc;
            }
        </style>
    </head>
    <body class="cnt-home" onload="addcaptcha()">
        <header class="header-style-1">
            <%- include("../front/top_bar") -%> 
            <%- include("../front/search") -%> 
            <%- include("../front/navigation") -%>
        </header>
        <div class="breadcrumb">
            <div class="container">
                <div class="breadcrumb-inner">
                    <ul class="list-inline list-unstyled">
                        <li><a href="/">Home</a></li>
                        <li class="active">Checkout</li>
                    </ul>
                </div>
                <!-- /.breadcrumb-inner -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.breadcrumb -->

        <div class="body-content">
            <div class="container">
                <div class="checkout-box">
                    <div class="row">
                        <div class="col-md-8">
                            <% if(message.length > 0) { %>
                                <div class="alert alert-success alert-dismissible show" role="alert">
                                  <%= message %>
                                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                            <% } %>
                            <% if(errors.length > 0) {%>
                                <div class="alert alert-danger alert-dismissible show" role="alert">
                                    <%= errors %> 
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                            <% } %>

                            <div class="panel-group checkout-steps" id="accordion">
                                <!-- <div class="panel panel-default checkout-step-02" id="blng_info">
                                    <div class="panel-heading">
                                        <h4 class="unicase-checkout-title">
                                            <a data-toggle="collapse" class="collapsed" id="accordion_1" data-parent="#accordion" href="#collapseTwo"> <span>1</span>Billing Information </a>
                                        </h4>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                                    <div class="panel-body">        
                                                        <div class="row">
                                                            <% if(getbilling.length > 0) { %>
                                                                <% getbilling.forEach((list, index) => { %>
                                                            <div class="col-sm-6 css_billing">
                                                                <ul class="nav nav-checkout-progress list-unstyled">
                                                                    <li>
                                                                    <% if(index+1 == 1) {%> 
                                                                        <input type="radio" name="billing_address" class="form-check-input" checked value="<%= list.id %>">
                                                                    <% } else {%>
                                                                        <input type="radio" name="billing_address" class="form-check-input" value="<%= list.id %>">
                                                                    <% } %>
                                                                    <strong><%= list.fullname %></strong></li>
                                                                    <li><%= list.house_address %> <%= list.colony_area %>,<br/><%= list.city_town %>,<%= list.city_town %>, <%= list.ShippingState %> : <%= list.pincode %><br/><%= list.billingCountyName %><br>Phone number : <%= list.mobile %></li>
                                                                </ul>
                                                                <span style="font-size: 12px; float: right;"><a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="deleteBilling('<%= list.id %>')"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                                            </div>
                                                            <% }) %>
                                                            <% } else { %>
                                                                <div class="col-sm-12">
                                                                    <h6 style="color: red;" class="text-center">Billing Address not found.</h6>
                                                                </div>
                                                            <% } %>
                                                        </div>
                                                        <div class="row text-right" style="margin-top: 10px;">
                                                            <div class="col-md-12">
                                                                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#billing_information">Add Billing Information</button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                    </div>
                                    
                                </div> -->
                                <!-- checkout-step-02  -->

                                <!-- checkout-step-03  -->
                                <div class="panel panel-default checkout-step-03">
                                    <div class="panel-heading">
                                        <h4 class="unicase-checkout-title">
                                            <a data-toggle="collapse" class="collapsed" id="accordion_2"  data-parent="#accordion" href="#collapseThree"> <span>1</span>Shipping Information </a>
                                        </h4>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body">        
                                                <div class="row">
                                                    <% if(getshipping.length > 0) { %>
                                                        <% getshipping.forEach((list, index) => { %>
                                                    <div class="col-sm-6 css_billing">
                                                        <ul class="nav nav-checkout-progress list-unstyled">
                                                            <li>
                                                                <% if(index+1 == 1) {%> 
                                                                    <input type="radio" checked name="shipping_address" value="<%= list.id %>">
                                                                    <% } else {%>
                                                                    <input type="radio" name="shipping_address" value="<%= list.id %>">
                                                                <% } %>
                                                            <strong> <%= list.fullname %></strong></li>
                                                            <li><%= list.house_address %> <%= list.colony_area %>,<br/><%= list.city_town %>, <%= list.city_town %>,<%= list.ShippingState %> : <%= list.pincode %><br/><%= list.shippingCountyName %><br>Phone number : <%= list.mobile %></li>
                                                        </ul>
                                                        <span style="font-size: 12px; float: right;"><a class="btn btn-danger btn-sm" href="javascript:void(0);" onclick="deleteShipping('<%= list.id %>')"><i class="fa fa-trash" aria-hidden="true"></i></a></span>
                                                    </div>
                                                    <% }) %>
                                                    <% } else { %>
                                                        <div class="col-sm-12">
                                                            <h6 style="color: red;" class="text-center">Shipping Address not found.</h6>
                                                        </div>
                                                    <% } %>
                                                </div>
                                                <div class="row text-right" style="margin-top: 10px;">
                                                    <div class="col-md-12">
                                                        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#shipping_information">Add Shipping Information</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- checkout-step-03  -->

                                <!-- checkout-step-05  -->
                                <div class="panel panel-default checkout-step-05">
                                    <div class="panel-heading">
                                        <h4 class="unicase-checkout-title">
                                            <a data-toggle="collapse" class="collapsed" data-parent="#accordion" href="#collapseFive"> <span>2</span>Payment</a>
                                        </h4>
                                    </div>
                                    <div id="collapseFive" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="row text-right" style="margin-top: 10px;">
                                                <!-- <div class="col-md-6">
                                                    <form action="/create-checkout-session" method="POST">
                                                        <input type="hidden" name="txnid" value="<%= cryptr.encrypt(txnid) %>">
                                                        <input type="hidden" name="cartId" value="<%= cryptr.encrypt(CartId) %>">
                                                        <input type="hidden" name="paid_amount" value="<%= cryptr.encrypt(subtotal) %>">
                                                        <button type="submit" class="btn btn-primary">Process To Payment (Stripe)</button>
                                                    </form>
                                                </div> -->
                                                <div class="col-md-12">
                                                    <form action="/razorpay-checkout" method="POST">
                                                        <input type="hidden" name="txnid" value="<%= cryptr.encrypt(txnid) %>">
                                                        <input type="hidden" name="cartId" value="<%= cryptr.encrypt(CartId) %>">
                                                        <input type="hidden" name="paid_amount" value="<%= cryptr.encrypt(subtotal) %>">
                                                        <button type="submit" class="btn btn-primary">Payment Online</button>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="panel-body">
                                            <form class="form-inline" method="POST" action="/confim_order" onsubmit="return validateConfirmOrder()">
                                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">    
                                            <div class="row">
                                                <!-- <div class="col-sm-12" style="padding: 15px;
                                                background: #f5f5f5;
                                                margin-bottom: 4px;"> 
                                                    <label>Credit / Debit / ATM Card</label>
                                                    <input type="radio" name="payment_method" value="1" class="payment_method" id="credit" checked='checked'>
                                                </div> -->
                                                <% if(getpermission.permission=='1'){ %>
                                                <div class="col-sm-12" style="padding: 15px;
                                                background: #f5f5f5;
                                                margin-bottom: 4px;"> 
                                                    <label>Cash on Delivery</label>
                                                    <input type="radio" name="payment_method" value="2" class="payment_method" id="pod">
                                                </div>
                                                <% } %>
                                            </div>
                                            <div class="row" id="methods" style="display: none;">
                                                <input type="hidden" name="txnid" value="<%= cryptr.encrypt(txnid) %>">
                                                <input type="hidden" name="cartId" value="<%= cryptr.encrypt(CartId) %>">
                                                <input type="hidden" name="paid_amount" value="<%= cryptr.encrypt(subtotal) %>">
                                                  <!-- <div class="form-group">
                                                    <input class="form-control" id="captchaImage" type="hidden" name="captchaImage" value="<%= typeof captchaImage != 'undefined' ? captchaImage : '' %>">
                                                  </div>
                                                  <div class="form-group space">
                                                    <span id="captcha"></span>
                                                  </div> -->
                                                  <!-- <button type="button" class="btn btn-primary" onclick="addcaptcha_reload()"><i class="fa fa-refresh" aria-hidden="true"></i></button> -->
                                                  <!-- <div class="form-group space">
                                                    <input class="form-control" id="captchaText" type="text" name="captchaText" value="<%= typeof captchaText != 'undefined' ? captchaText : '' %>" placeholder="Enter the captcha" maxlength="4" minlength="4">
                                                  </div> -->
                                                  <button type="submit" class="btn btn-primary">Confirm Order Pay ₹<%= subtotal %></button>
                                                  <div id="captcha_error"></div>
                                                <% if(errorStatus.length >0) {%>
                                                    <div>Captcha does not match </div>
                                                <% } %>
                                            </div>
                                        </form>    
                                        </div>
                                    </div>
                                </div>                                
                            </div>
                            <!-- /.checkout-steps -->
                        </div>
                        <div class="col-md-4">
                            <!-- checkout-progress-sidebar -->
                            <div class="checkout-progress-sidebar">
                                <div class="panel-group">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h4 class="unicase-checkout-title">Your Checkout Progress</h4>
                                        </div>
                                        <div class="">
                                            <ul class="nav nav-checkout-progress list-unstyled">
                                                <li><p>Total Amount:₹ <% if(total) {%><%= total.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %><% } %></p></li>
                                                <li><p>Delivery Charges 
                                                    <% if(delivery_charge=='0') {%>
                                                        <span class="_27kB8M _3Oa-sk">Free Delivery</span>
                                                    <% } else { %>    
                                                        <span class="_27kB8M _3Oa-sk">₹ <%= delivery_charge %></span>
                                                    <% } %>
                                                    </p>
                                                </li>
                                                <li><p></p></li>
                                                <!-- <li id="paynow_btn">
                                                <% if(getpermission.permission=='1'){ %>
                                                <form action="/payumoney" method="POST" enctype="application/x-www-form-urlencoded" onsubmit="return validateCheckout()">
                                                    <input class="amount" type="hidden" name="amount" value="<%= cryptr.encrypt(subtotal) %>"/>
                                                    <input class="amount" type="hidden" name="txnid" value="<%= cryptr.encrypt(txnid) %>"/>
                                                    <input class="con" type="hidden" name="phone" value="<%= cryptr.encrypt(result.mobile) %>" />
                                                    <input class="con" type="hidden" name="email" value="<%= cryptr.encrypt(result.email) %>" />
                                                    <input class="con" type="hidden" name="firstname" value="<%= cryptr.encrypt(result.name) %>" />
                                                    <input type="hidden" class="product" name="productinfo" 
                                                     value="P01,P02"/>
                                                     <input type="hidden" class="cart-id" name="cartid" 
                                                     value="<%= cryptr.encrypt(CartId) %>"/>
                                                     <input type="submit" value='Pay Now ₹<% if(subtotal) {%><%= subtotal.toFixed(2).replace(/(\d)(?=(\d\d\d)+(?!\d))/g, "$1,") %><% } %>' class="btn btn-primary" />
                                                </form>
                                                <% } %>
                                                </li> -->
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- checkout-progress-sidebar -->
                        </div>
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.checkout-box -->
            </div>
            <!-- /.container -->
        </div>
        <div class="modal fade" id="billing_information">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">BILLING INFORMATION</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="post" action="/billing_information" onsubmit="return validateBilling()">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">    
                <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Full Name</label>
                                <input type="text" name="fullname" id="b_fullname" class="form-control" placeholder="Please enter your name">
                                <span id="b_fullname_err"></span>
                            </div>
                            <div class="col-sm-6"> 
                                <label>Mobile number</label>
                                <input type="text" name="mobile" id="b_mobile" class="form-control" maxlength="10" placeholder="10-digit mobile number without prefixes">
                                <span id="b_mobile_err"></span>
                                <div class="a-section a-spacing-none a-spacing-top-micro"><span class="a-size-mini"><small>May be used to assist delivery</small></span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>PIN code</label>
                                <input type="text" name="pincode" id="b_pincode" class="form-control" maxlength="6"  placeholder="6 digits [0-9] PIN code">
                                <span id="b_pincode_err"></span>
                            </div>
                            <div class="col-sm-6"> 
                                <label>Flat, House no., Building, Company, Apartment</label>
                                <input type="text" id="b_house_address" name="house_address" class="form-control" maxlength="60" placeholder="Flat, House no., Building, Company, Apartment">
                                <span id="b_house_address_err"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Area, Colony, Street, Sector, Village</label>
                                <input type="text" maxlength="60" name="colony_area" class="form-control" id="b_colony_area" placeholder="Area, Colony, Street, Sector, Village">
                                <span id="b_colony_area_err"></span>
                            </div>
                            <div class="col-sm-6"> 
                                <label>Landmark</label>
                                <input type="text" name="landmark" id="b_landmark" class="form-control" maxlength="60" placeholder="E.g. Near AIIMS Flyover, Behind Regal Cinema, etc.">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Town/City</label>
                                <input type="text" maxlength="50" id="b_city_town" name="city_town" class="form-control" placeholder="Area, Colony, Street, Sector, Village">
                                <span id="b_city_town_err"></span>
                            </div>
                            <div class="col-sm-6"> 
                                <label>State / Province / Region</label>
                                <select class="form-control" name="state" id="b_state">
                                    <option value="">-Please select state-</option>
                                    <% if(on_rental===1) {%>
                                        <% get_rent_state.forEach((list, index) => { %>
                                            <option value="<%= list.id %>"><%= list.name %></option>
                                            <% }) %>
                                       <% } else { %> 
                                    <% get_state.forEach((list, index) => { %>
                                       <option value="<%= list.id %>"><%= list.name %></option>
                                        <% }) %>
                                    <% } %>
                                </select>
                                <span id="b_state_err"></span>
                            </div>
                        </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                
              </form>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>


          <div class="modal fade" id="shipping_information">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">SHIPPING INFORMATION</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <form method="post" action="/shipping_information" onsubmit="return validateShipping()">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="modal-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Full Name</label>
                                <input type="text" name="fullname" id="s_fullname" class="form-control" placeholder="Please enter your name">
                                <span id="s_fullname_err"></span>
                            </div>
                            <div class="col-sm-6"> 
                                <label>Mobile number</label>
                                <input type="text" name="mobile" id="s_mobile" class="form-control" maxlength="10" placeholder="10-digit mobile number without prefixes">
                                <span id="s_mobile_err"></span>
                                <div class="a-section a-spacing-none a-spacing-top-micro"><span class="a-size-mini"><small>May be used to assist delivery</small></span></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>PIN code</label>
                                <input type="number" name="pincode" id="s_pincode" class="form-control" maxlength="6" placeholder="6 digits [0-9] PIN code">
                                <span id="s_pincode_err"></span>
                            </div>
                            <div class="col-sm-6"> 
                                <label>Flat, House no., Building, Company, Apartment</label>
                                <input type="text" name="house_address" class="form-control" id="s_house_address" maxlength="60" placeholder="Flat, House no., Building, Company, Apartment">
                                <span id="s_house_address_err"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Area, Colony, Street, Sector, Village</label>
                                <input type="text" maxlength="60" name="colony_area" class="form-control" id="s_colony_area" placeholder="Area, Colony, Street, Sector, Village">
                                <span id="s_colony_area_err"></span>
                            </div>
                            <div class="col-sm-6"> 
                                <label>Landmark</label>
                                <input type="text" name="landmark" id="s_landmark" class="form-control" maxlength="60" placeholder="E.g. Near AIIMS Flyover, Behind Regal Cinema, etc.">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <label>Town/City</label>
                                <input type="text" maxlength="50" name="city_town" class="form-control" id="s_city_town" placeholder="Area, Colony, Street, Sector, Village">
                                <span id="s_city_town_err"></span>
                            </div>
                            <div class="col-sm-6"> 
                                <label>State / Province / Region</label>
                                <select class="form-control" name="state" id="s_state">
                                    <option value="">-Please select state-</option>
                                   <% if(on_rental===1) {%>
                                    <% get_rent_state.forEach((list, index) => { %>
                                        <option value="<%= list.id %>"><%= list.name %></option>
                                        <% }) %>
                                   <% } else { %> 
                                   <% get_state.forEach((list, index) => { %>
                                   <option value="<%= list.id %>"><%= list.name %></option>
                                    <% }) %>
                                   <% } %> 
                                </select>
                                <span id="s_state_err"></span>
                            </div>
                        </div>
                </div>
                <div class="modal-footer justify-content-between">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
              </div>
              <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
          </div>
        <!-- /.body-content -->
        <% include ("../front/book_footer") %>
        <script src="assets/js/jquery-1.11.1.min.js"></script>
        <script src="assets/js/bootstrap.min.js"></script>
        <script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
        <script src="assets/js/owl.carousel.min.js"></script>
        <script src="assets/js/echo.min.js"></script>
        <script src="assets/js/jquery.easing-1.3.min.js"></script>
        <script src="assets/js/bootstrap-slider.min.js"></script>
        <script src="assets/js/jquery.rateit.min.js"></script>
        <script type="text/javascript" src="assets/js/lightbox.min.js"></script>
        <script src="assets/js/bootstrap-select.min.js"></script>
        <script src="assets/js/wow.min.js"></script>
        <script src="assets/js/scripts.js"></script>
        
        <script type="text/javascript">
            function deleteShipping(Id){
                if(Id){
                    var r = confirm("Are you sure you want to delete address.");
                    if(r == true){
                        var dataString = 'shippingId='+Id;
                        $.ajax({
                            type: 'get',
                            url: '/delete_shipping_address',
                            data: dataString,
                            dataType: 'json',
                            success: function(result){
                                if(result.status==1){
                                    window.location.reload();
                                }
                            }
                        });
                    }
                }
            }

            function deleteBilling(Id){
                if(Id){
                    var r = confirm("Are you sure you want to delete address.");
                    if(r == true){
                        var dataString = 'billingId='+Id;
                        $.ajax({
                            type: 'get',
                            url: '/delete_billing_address',
                            data: dataString,
                            dataType: 'json',
                            success: function(result){
                                if(result.status==1){
                                    window.location.reload();
                                }
                            }
                        });
                    }
                }            
            }

           
            function validateCheckout(){
                var billing_selected = $("input[name='billing_address']:checked");
                var shipping_selected = $("input[name='shipping_address']:checked");
                //alert(billing_selected.length); return false;
                if (billing_selected.length <= 0){
                    var biling = validateBilling();
                    $("#accordion_1").removeClass('collapsed');
                    $("#collapseTwo").addClass('in');
                    return false;
                } 

                if(shipping_selected.length <= 0){
                    var shipping = validateShipping();
                    $("#accordion_2").removeClass('collapsed');
                    $("#collapseThree").addClass('in');
                    return false;
                }
                return true;
            }
            
            function validateConfirmOrder(){
                // let captchaText = $("#captchaText").val();
                // if(captchaText == "" && captchaText.search(/\w/)< 0){
                //     $("#captcha_error").html('<label class="text-danger">Captcha code cannot be empty.</label>');
                //     return false;
                // } else {
                //     $("#captcha_error").html('');
                // }

                // var billing_selected = $("input[name='billing_address']:checked");
                var shipping_selected = $("input[name='shipping_address']:checked");
                // if (billing_selected.length <= 0){
                //     var biling = validateBilling();
                //     $("#accordion_1").removeClass('collapsed');
                //     $("#collapseTwo").addClass('in');
                //     return false;
                // }

                if(shipping_selected.length <= 0){
                    var shipping = validateShipping();
                    $("#accordion_2").removeClass('collapsed');
                    $("#collapseThree").addClass('in');
                    return false;
                }
                return true;
            }

            function validateBilling(){
                var flag = false;
                var fullname = $("#b_fullname").val();
                var mobile = $("#b_mobile").val();
                var pincode = $("#b_pincode").val();
                var house_address = $("#b_house_address").val();
                var colony_area = $("#b_colony_area").val();
                var city_town = $("#b_city_town").val();
                var state = $("#b_state").val();

                if(fullname ==="" || fullname.search(/\w/)< 0){
                    $("#b_fullname_err").html('<span class="text-danger">Name can not be empty.</span>'); 
                    flag = true;
                } else {
                    $("#b_fullname_err").html(''); 
                }

                if(mobile ===""){
                    $("#b_mobile_err").html('<span class="text-danger">Mobile can not be empty.</span>'); 
                    flag = true;
                } else if(mobile.length!=10){
                    $("#b_mobile_err").html('<span class="text-danger">Please enter valid mobile no.</span>'); 
                    flag = true;
                } else {
                    $("#b_mobile_err").html(''); 
                }

                if(pincode ==="" || pincode.search(/\w/)< 0){ 
                    $("#b_pincode_err").html('<span class="text-danger">Pincode can not be empty.</span>'); 
                    flag = true;
                } else if(pincode.length!=6){
                    $("#b_pincode_err").html('<span class="text-danger">Please enter valid pincode.</span>'); 
                    flag = true;
                } else {
                    $("#b_pincode_err").html(''); 
                }

                if(house_address ==="" || house_address.search(/\w/)< 0){
                    $("#b_house_address_err").html('<span class="text-danger">House Address can not be empty.</span>'); 
                    flag = true;
                } else {
                    $("#b_house_address_err").html(''); 
                }

                if(colony_area ==="" || colony_area.search(/\w/)< 0){
                    $("#b_colony_area_err").html('<span class="text-danger">Colony Area can not be empty.</span>'); 
                    flag = true;
                } else {
                    $("#b_colony_area_err").html(''); 
                }

                if(city_town ==="" || city_town.search(/\w/)< 0){
                    $("#b_city_town_err").html('<span class="text-danger">Town/City can not be empty.</span>'); 
                    flag = true;
                } else {
                    $("#b_city_town_err").html(''); 
                }

                if(state ==="" || state.search(/\w/)< 0){
                    $("#b_state_err").html('<span class="text-danger">Please select state.</span>'); 
                    flag = true;
                } else {
                    $("#b_state_err").html(''); 
                }

                if(flag){
                    return false;
                } else {
                    return true;
                }
            }

            function validateShipping(){
                var flag = false;
                var fullname = $("#s_fullname").val();
                var mobile = $("#s_mobile").val();
                var pincode = $("#s_pincode").val();
                var house_address = $("#s_house_address").val();
                var colony_area = $("#s_colony_area").val();
                var city_town = $("#s_city_town").val();
                var state = $("#s_state").val();

                if(fullname ==="" || fullname.search(/\w/)< 0){
                    $("#s_fullname_err").html('<span class="text-danger">Name cannot be empty.</span>'); 
                    flag = true;
                } else {
                    $("#s_fullname_err").html(''); 
                }

                if(mobile ===""){
                    $("#s_mobile_err").html('<span class="text-danger">Mobile cannot be empty.</span>'); 
                    flag = true;
                } else if(mobile.length!=10){
                    $("#s_mobile_err").html('<span class="text-danger">Please enter valid mobile no.</span>'); 
                    flag = true;
                } else {
                    $("#s_mobile_err").html(''); 
                }

                if(pincode ==="" || pincode.search(/\w/)< 0){
                    $("#s_pincode_err").html('<span class="text-danger">Pin code cannot be empty.</span>'); 
                    flag = true;
                } else if(pincode.length!=6){
                    $("#s_pincode_err").html('<span class="text-danger">Please enter valid pincode.</span>'); 
                    flag = true;
                } else {
                    $("#s_pincode_err").html(''); 
                }

                if(house_address ==="" || house_address.search(/\w/)< 0){
                    $("#s_house_address_err").html('<span class="text-danger">House Address cannot be empty.</span>'); 
                    flag = true;
                } else {
                    $("#s_house_address_err").html(''); 
                }

                if(colony_area ==="" || colony_area.search(/\w/)< 0){
                    $("#s_colony_area_err").html('<span class="text-danger">Colony Area cannot be empty.</span>'); 
                    flag = true;
                } else {
                    $("#s_colony_area_err").html(''); 
                }

                if(city_town ==="" || city_town.search(/\w/)< 0){
                    $("#s_city_town_err").html('<span class="text-danger">Town/City cannot be empty.</span>'); 
                    flag = true;
                } else {
                    $("#s_city_town_err").html(''); 
                }

                if(state ==="" || state.search(/\w/)< 0){
                    $("#s_state_err").html('<span class="text-danger">Please select state.</span>'); 
                    flag = true;
                } else {
                    $("#s_state_err").html(''); 
                }

                if(flag){
                    return false;
                } else {
                    return true;
                }
            }

            
            $("input[type='radio']").click(function(){
                if($(".payment_method").is(":checked")) {
                    var radioValue = $("input[name='payment_method']:checked").val();
                    if(radioValue == 1){
                        $("#paynow_btn").show();
                        document.getElementById("methods").style.display = "none";
                    } else if(radioValue == 2){ 
                        document.getElementById("methods").style.display = "block";
                        $("#paynow_btn").hide();
                    }
                }
            })
        
            function addcaptcha() {
                var svgData = document.getElementById("captchaImage").value;
                document.getElementById("captcha").innerHTML = svgData;
            }

            function addcaptcha_reload(){
                $("#captchaText").val('');
                $.ajax({
                    type:"GET",
                    url:"/getcaptcha",
                    data:"",
                    contentType: 'application/json',
                    success: function(response){
                        $("#captcha").html("");
                        if(response.captchacode){
                            $("#captcha").html(response.captchacode);
                        }
                    }
                })
            }
        </script>
    </body>
</html>
