<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
	<meta name="description" content="">
	<meta name="author" content="">
    <meta name="keywords" content="MediaCenter, Template, eCommerce">
    <meta name="robots" content="INDEX,FOLLOW"/>
    <title>Sriina | My Profile</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/MaterialDesign-Webfont/7.2.96/css/materialdesignicons.min.css" integrity="sha512-LX0YV/MWBEn2dwXCYgQHrpa9HJkwB+S+bnBpifSOTO1No27TqNMKYoAn6ff2FBh03THAzAiiCwQ+aPX+/Qt/Ow==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="<%= baseURL %>assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="<%= baseURL %>assets/css/main.css">
    <link rel="stylesheet" href="<%= baseURL %>assets/css/blue.css">
    <link rel="stylesheet" href="<%= baseURL %>assets/css/owl.carousel.css">
	<link rel="stylesheet" href="<%= baseURL %>assets/css/owl.transitions.css">
	<link rel="stylesheet" href="<%= baseURL %>assets/css/animate.min.css">
	<link rel="stylesheet" href="<%= baseURL %>assets/css/rateit.css">
	<link rel="stylesheet" href="<%= baseURL %>assets/css/bootstrap-select.min.css">
    <link href="<%= baseURL %>assets/css/custom.css" rel="stylesheet" />
    <link rel="stylesheet" href="<%= baseURL %>assets/css/font-awesome.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,700' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,400italic,600,600italic,700,700italic,800' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
        .mb-15 {
            margin-bottom: 15px !important;
        }
    	.order_css{
    		border: 1px #ddd solid;
		    margin-bottom: 10px;
		    padding: 10px;
		}
        body{
            margin-top:20px;
            background:#f7f8fa
        }
        .avatar-xxl {
            height: 7rem;
            width: 7rem;
        }
        .card {
            margin-bottom: 20px;
            -webkit-box-shadow: 0 2px 3px #eaedf2;
            box-shadow: 0 2px 3px #eaedf2;
        }
        .pb-0 {
            padding-bottom: 0!important;
        }

        .font-size-16 {
            font-size: 16px!important;
        }
        .avatar-title {
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            background-color: #038edc;
            color: #fff;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            font-weight: 500;
            height: 100%;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 100%;
        }

        .bg-soft-primary {
            background-color: rgba(3,142,220,.15)!important;
        }
        .rounded-circle {
            border-radius: 50%!important;
        }

        .nav-tabs-custom .nav-item .nav-link.active {
            color: #038edc;
        }
        .nav-tabs-custom .nav-item .nav-link.active {
            color: #038edc;
        }

        .avatar-group {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
            padding-left: 12px;
        }

        .border-end {
            border-right: 1px solid #eff0f2 !important;
        }

        .avatar-group .avatar-group-item {
            margin-left: -14px;
            border: 2px solid #fff;
            border-radius: 50%;
            -webkit-transition: all .2s;
            transition: all .2s;
        }

        .avatar-sm {
            height: 2rem;
            width: 2rem;
        }

        .nav-tabs-custom .nav-item {
            position: relative;
            color: #343a40;
        }

        .nav-tabs-custom .nav-item .nav-link.active:after {
            -webkit-transform: scale(1);
            transform: scale(1);
        }

        .nav-tabs-custom .nav-item .nav-link::after {
            content: "";
            background: #038edc;
            height: 2px;
            position: absolute;
            width: 100%;
            left: 0;
            bottom: -2px;
            -webkit-transition: all 250ms ease 0s;
            transition: all 250ms ease 0s;
            -webkit-transform: scale(0);
            transform: scale(0);
        }
    </style>
</head>
    <body class="cnt-home">
        <header class="header-style-1">
            <%- include('../front/top_bar') -%> <%- include('../front/search') -%> <%- include('../front/navigation') -%>
        </header>

		<div class="breadcrumb">
			<div class="container">
				<div class="breadcrumb-inner">
					<ul class="list-inline list-unstyled">
						<li><a href="/">Home</a></li>
						<li class="active">My Profile</li>
					</ul>
				</div>
				<!-- /.breadcrumb-inner -->
			</div>
			<!-- /.container -->
		</div>
		<!-- /.breadcrumb -->

		<div class="body-content">
            <div class="container">
                <div class="row checkout-box faq-page">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body pb-0">
                                <div class="row align-items-center">
                                    <div class="col-md-3">
                                        <div class="text-center border-end">
                                            <img src="https://bootdey.com/img/Content/avatar/avatar1.png" class="img-fluid avatar-xxl rounded-circle" alt="">
                                            <h4 class="text-primary font-size-20 mt-3 mb-2"><%= data.name %></h4>
                                        </div>
                                    </div><!-- end col -->
                                    <div class="col-md-9">
                                        <div class="ms-3">
                                            <div class="row my-4" style="margin-top: 20px;">
                                                <div class="col-md-12">
                                                    <div>
                                                        <p class="text-muted mb-2 fw-medium"><i class="mdi mdi-email-outline me-2"></i><%= data.email %>
                                                        </p>
                                                        <p class="text-muted fw-medium mb-0"><i class="mdi mdi-phone-in-talk-outline me-2"></i><%= data.mobile %>
                                                        </p>
                                                    </div>
                                                </div><!-- end col -->
                                            </div><!-- end row -->
                                            <ul class="nav nav-tabs nav-tabs-custom border-bottom-0 mt-3 nav-justfied" role="tablist">
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link px-4" href="/myaccount">
                                                        <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                                                        <span class="d-none d-sm-block">My Orders</span>
                                                    </a>
                                                </li><!-- end li -->
                                                <li class="nav-item" role="presentation">
                                                    <a class="nav-link px-4" href="/profile">
                                                        <span class="d-block d-sm-none"><i class="mdi mdi-menu-open"></i></span>
                                                        <span class="d-none d-sm-block">Billing Details</span>
                                                    </a>
                                                </li><!-- end li -->
                                                <li class="nav-item active" role="presentation">
                                                    <a class="nav-link px-4" href="/change-password">
                                                        <span class="d-block d-sm-none"><i class="mdi mdi-account-group-outline"></i></span>
                                                        <span class="d-none d-sm-block">Change Password</span>
                                                    </a>
                                                </li><!-- end li -->
                                            </ul><!-- end ul -->
                                        </div>
                                    </div><!-- end col -->
                                </div><!-- end row -->
                            </div><!-- end card body -->
                        </div><!-- end card -->
                        <div class="card">
                            <div class="tab-content p-4">
                                <div class="tab-pane active show" id="tasks-tab" role="tabpanel">
                                    <h4 class="card-title mb-4">Change Password</h4>
                                    <% if(message.length > 0) {%>
                                        <div class="alert alert-success alert-dismissible show" role="alert">
                                            <%= message %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                    <% } %>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <form method="post" action="/update-password" onsubmit="return validatePassword()">
                                                <input type="hidden" name="_csrf" value="<%= csrf %>">
                                                <div class="row mb-15">
                                                    <div class="col-sm-6">
                                                        <label>Current Password</label>
                                                        <input type="password" name="curr_password" id="curr_password" class="form-control" placeholder="Please enter your password">
                                                        <span id="curr_password_err" class="err_msg"></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-15">
                                                    <div class="col-sm-6">
                                                        <label>New Password</label>
                                                        <input type="password" name="n_password" id="n_password" class="form-control" placeholder="Please enter new password">
                                                        <span id="n_password_err" class="err_msg"></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-15">
                                                    <div class="col-sm-6">
                                                        <label>Confirm Password</label>
                                                        <input type="password" id="c_password" class="form-control" placeholder="Confirm password">
                                                        <span id="c_password_err" class="err_msg"></span>
                                                    </div>
                                                </div>
                                                <div class="row mb-15">
                                                    <div class="col-sm-6">
                                                        <button class="btn btn-primary">Update</button>
                                                    </div>
                                                </div>
                                            </form>
                                        </div><!-- end col -->
                                    </div><!-- end row mb-15 -->
                                </div><!-- end tab pane -->
                            </div>
                        </div><!-- end card -->
                    </div><!-- end col -->
                </div>
            </div>
        </div>

<%- include('../front/book_footer') -%>
	<script src="<%= baseURL %>assets/js/jquery-1.11.1.min.js"></script>
	<script src="<%= baseURL %>assets/js/bootstrap.min.js"></script>
	<script src="<%= baseURL %>assets/js/bootstrap-hover-dropdown.min.js"></script>
	<script src="<%= baseURL %>assets/js/owl.carousel.min.js"></script>
	<script src="<%= baseURL %>assets/js/echo.min.js"></script>
	<script src="<%= baseURL %>assets/js/jquery.easing-1.3.min.js"></script>
	<script src="<%= baseURL %>assets/js/bootstrap-slider.min.js"></script>
    <script src="<%= baseURL %>assets/js/jquery.rateit.min.js"></script>
    <script type="text/javascript" src="<%= baseURL %>assets/js/lightbox.min.js"></script>
    <script src="<%= baseURL %>assets/js/bootstrap-select.min.js"></script>
    <script src="<%= baseURL %>assets/js/wow.min.js"></script>
	<script src="<%= baseURL %>assets/js/scripts.js"></script>
    <script type="text/javascript">
        function validatePassword() {
            var is_valid = true;
            var curr_pass = $("#curr_password").val().trim();
            var new_pass = $("#n_password").val().trim();
            var c_pass = $("#c_password").val().trim();
            $(".err_msg").html('');
            if(curr_pass === "") {
                $("#curr_password_err").html('<span class="text-danger">Provide your current password.</span>');
                is_valid = false;
            }
            if(new_pass.length < 6) {
                $("#n_password_err").html('<span class="text-danger">Password lenght should be 6 character long.</span>');
                is_valid = false;
            }
            if(new_pass !== c_pass) {
                $("#c_password_err").html('<span class="text-danger">Confirm password mismatch.</span>');
                is_valid = false;
            }
            return is_valid;
        }
    </script>
</body>
</html>
